
                              
.inter-normalaiz {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin:0px;
    padding:0px;
}
                      /* start navber */
.navbar{
    display: flex;
    justify-content: space-between;
    padding:24px;
    margin-left:160px;
    margin-right: 160px;
}
                         /* all button */
.btn{
    padding:15px 30px;
    border:1px solid #006A50;
    border-radius:8px;
}
.btn1{
    background-color: #006A50;
    color:#FFFFFF ;
    padding:17px 34px;
    border-radius:8px;
    gap: 24px;
    margin-top:24px;
    
}
.btn2{
    border-radius: 8px;
    background: rgb(84, 144, 245);
    /* margin-top:72px; */
    width:122px;
    height: 41px;
    border: none;
    margin-top: 44px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.btn3{
    border-radius: 8px;
    background: rgb(9, 161, 92);
    /* margin-top:72px; */
    width:122px;
    height: 41px;
    border: none;
    margin-top: 44px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.btn4{
    border-radius: 8px;
    background: rgb(255, 194, 57);
    /* margin-top:72px; */
    width:122px;
    height: 41px;
    border:none;
    margin-top: 44px;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
/* 
.aljajira-subcontainer > .btn5{
    padding: 26px;
    border-radius: 8px;
    width: 139px;
    height: 48px;
    font-weight: 600;
    font-size: 16px;
    background-color:#006A50 ;
    margin-top: 24px;
    color: white;
} */
.button:hover{ background-color: yellowgreen;}

/* use for all h1 */
    
.pp{
    font-size:16px;
    font-weight:400;
    color: hasla(0,0%,5%,0,7);
    margin-bottom: 24px;
}

.head1{
    font-weight: bold;
}

                                 /* start hero secton */
.hero-top {
   
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}
.hero{
    display: flex;
    gap:64px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px 80px 100px;
    text-align: left;
    
}
                        /* all taitle */
.taitle-text{
    font-size: 56px;
    margin-top: 16px;
}
.taitle{
    font-size: 24px;
    color:#0E0E0E80 ;
}
.taitle1{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top:24px ;
margin-bottom: 24px;
}
.taitle2{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top:24px ;
margin-bottom: 24px;
}
.taitle3{
    color: rgba(14, 14, 14, 0.8);
font-family: Fira Sans;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-top:24px ;
margin-bottom: 24px;
}

.future > .vision {
    font-weight: bold;
    font-size:40px;

}

                         /* Transformation */
.Transformation1{
    text-align: justify;
 
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    width: 410.67px;
    height: 325px;
    padding: 32px;
}                      
.Transformation2{
    text-align: justify;
    
    border-radius: 16px;
    background: rgb(198, 228, 214);
    width: 410.67px;
    height: 325px;
    padding: 32px;
    margin-left: 24px;
}                      
.Transformation3{
    text-align: justify;
 
    border-radius: 16px;
    background: rgb(247, 235, 207);
    width: 410.67px;
    height: 325px;
    padding: 32px;
    margin-left: 24px;
}      
.Transformation{
    display: flex;
    gap:24px;
    margin-top:32px;
   justify-content: space-between;
}  
.Transformation-peragaraf{
    font-weight: 400;
    margin-top:12px;
    font-size: 16px;
}
.future-all {
    margin-left: 160px;
    margin-right:160px;
    margin-top: 24px;
}             
                                 /* aljajira-container  */
.aljajira-container{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin: 50px 160px 50px 160px;
}
.aljajira-container{
    display: flex;
    padding:48px;
}
.satalite{
    border-radius:24px;
    margin-right:32px;
}
.section-sub{
    margin:60px 160px 60px 160px;
}



                                      /* 2nd strt */
.con{
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin: 50px 160px 50px 160px;
    border-radius:16px;
    height: 402px;
}

.prant{
    display: flex;
    gap: 24px;
}
                               /* <!-- Donate start -   */
.donate-taitle{
    text-align: center;
    margin-left:160px ;
    margin-right:160px;
    margin-top: 80px;
}
.container{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0px 160px 24px 160px;

}
.donate-input{
    margin-left: 160px;
    margin-right: 160px;
    text-align: center;
}
.donate-taitle{
    font-size:40px;
    font-weight: 700;
    color: hsla(0, 0%, 5%, 1);
    
}
.container-btn button{

    background-color: hala(152,35%,85%,1);
    
    
    font-size: 40px;
    font-weight:700;
    height:128px;
    width: 252px;
    margin-bottom: 32px;
    border-radius: 16px;
    
    margin-top: 24px;
}
.btnn{
    background-color:  rgb(135, 184, 135);
}
.subscribe-btn .btnn2{
    padding: 34px;
    font-weight: 600;
    font-size: 18px;
    height: 56px;
    width: 139px;
    border-radius: 0px 8px 8px 0px;
    background-color: #006A50 ;
    color: white;
}
          
/* <!-- subscribe news latter start -- */
.subscribe-taitel{
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}
.subscribe-btn{
    text-align: center;
    margin-left: 160px;
    margin-right: 160px;
}
/* <!-- start recent news --> */

.section-title1{
    font-size:40px;
    font-weight: 700;
    color: hsla(0, 0%, 5%, 1);
    margin-bottom: 24px;
}
                      
         /* start input */
.donate-input input{
    width: 600px;
    height: 55px;
    color: argb(255, 255, 255) ;
    border-radius: 8px 0px 0px 8px;
    border: none;
}
.donate-input input{
    width: 1032px;
    height:64px;
    text-align: center;
    border:1px solid lightcyan;
    color:black;
}
.donate-input .d-btn{
    font-weight: 600;
    font-size: 16px;
    border-radius: 8/px;
    width: 122px;
    height: 41px;
    color: black;
    margin-top: 24px;
}

/* end */
/* <!-- subscribe news latter start --> */
.sub-title{
    font-weight: 800;
    font-size: 42px;


}
.prant-sub{
    margin: 80px 160px 80px 160px;
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px 80px 100px;
}
.subscribe-btn{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.subscribe-btn input{
    width:600px;
    height:55px;
    color:#0E0E0E4D;
    border-radius:8px 0px 0px 8px 8px;
    border: none;
}
.subscribe-btn .bttnn2{
    width:150px;
    height:56px;
    font-size:18px;
    background-color: #C6E4D6;
}
.spam {
 margin-top:25px;
}
.footer-h1 {
    text-align: center;
    

}
.fonter-div{
    text-align: center;
    margin-top:24px;
    display: flex;
    gap: 23px;
    justify-content: center;
}
.hrr{
    width: 82%;
    margin-left: 160px;
    margin-right: 160px;
}
/* younus */
.younus{
    background-image: url("./style/assets/quote-bg.png");
    background-repeat: no-repeat;
    padding: 48px 24px 48px 24px;
    width: 1420px;
    height: 256px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    margin-left:160px ;
    margin-right:160px ;
    margin-top: 32px;
}
.younus-taitle{
    margin-top: 15px;
    margin-bottom: 12px;
    font-weight: 600;
    font-size:24px ;
}
.subscribe-btn > input > ::placeholder{
    text-align: center;
}